<h1>All recipes</h1>
<%= form_tag("/recipes", method: "get") do %>
    <%= select_tag "rating", options_for_select(["newest","oldest"]), include_blank: true %>
    <%= submit_tag "Sort" %>
<% end %>

<ol>
    <%@recipes.each do |recipe|%>
    <li>
        <h3>Name:</h3>
        <%= link_to recipe.name, user_recipe_path(recipe.user,recipe)%>
    </li>
    <hr>

    <%end%>
</ol>
